<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Internet_Tech_1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <nav class="navbar navbar-light">
                    <img src="https://st4.depositphotos.com/20834934/28355/i/600/depositphotos_283555970-stock-photo-watercolor-cake.jpg" width="70" height="70" class="d-inline-block align-top" alt="">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        Тортикус
                    </a>

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Меню</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Company" asp-action="Company">О компании</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Products">Продукты</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="" asp-controller="Vacancies" asp-action="Vacancies">Вакансии</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Сontacts" asp-action="Сontacts">Контакты</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Feedback" asp-action="Feedback">Обратная связь</a>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>

            <span class="navbar-text">
                E-mail: tortikys@@mail.ru
                <br>
                Телефон: 8-800-355-35-35
            </span>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
