@{
    ViewData["Title"] = "Сontacts";
}

<body>
    <div>
        <h2>Контактные данные</h2>
        <p>Наш E-mail: tortikys@@mail.ru </p>
        <p>Наш телефон: 8-800-355-35-35</p>
        <p>Наш адрес:</p>
    </div>

    <div>
        <h2>Карта проезда</h2>
        <img src="https://lh3.googleusercontent.com/proxy/U-1SQicMrSx4YwBoRKxOsp46JzLdzr_V4JWgYLbfpPh_pcGYQg4HuXVPFnYcRV6QqPoP1QyVFi2F8a0wZMQknEAEQnHnw00jxvRCV1MrvR12Yv854Q" class="img-fluid" alt="Responsive image">
        <p>Описание как проехать</p>
    </div>

</body>

