@model IEnumerable<Internet_Tech_1.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active h-auto">
                <img class="d-block w-auto" src="https://torggrad.ru/glyphicons/png/o_kompanii.jpg" height="400" alt="First slide">
            </div>
            <div class="carousel-item h-auto">
                <img class="d-block w-auto" src="https://cleverstaff.net/blog/wp-content/uploads/2019/10/korporativnyye-tsennosti-eto.jpg" height="400" alt="Second slide">
            </div>
            <div class="carousel-item h-auto">
                <img class="d-block w-auto" src="https://melsis.ru/images/services/proekti/about_img.jpg" height="400" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div>
        <h2>О компании</h2>
        <p>Какой то текст</p>
    </div>

    <h2>Наши услуги</h2>
    <div class="card-deck">
        @foreach (Product item in Model)
        {
            @if (item.IsService == 1)
            {
                <div class="card border-dark mb-5" style="max-width: 20rem;">
                    <div class="card-header">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary" asp-area="" asp-controller="Feedback" asp-action="Feedback">Обратная связь</a>
                    </div>
                </div>
            }
        }
    </div>

    <div>
        <h2>Отзывы</h2>
        <p>Тут отзывы</p>
    </div>

</body>

