@{
    ViewData["Title"] = "About company";
}

<body>
    <div>
        <h1>О компании</h1>
        <p>Текст о компании</p>
    </div>

    <div>
        <h1>Наши принципы</h1>
        <p>Тут принципы</p>
    </div>

</body>

